.login-page {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 30rem;
  margin: auto;
  padding: 4.5rem;
  text-align: center;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2), 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0);
}
.login-page button {
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4285f4;
  width: 100%;
  border: 0;
  color: #ffffff;
  font-size: 1.4rem;
  margin: 0%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  height: 3.8rem;
  border-image-width: 0%;
}
.login-page button :hover,
.login-page button :active,
.login-page button :focus {
  background: #3367d6;
}
.intro {
  padding: 5rem 0;
}
.intro h1 {
  font-family: "Rocher";
  color: rgb(177, 115, 70);
  text-align: center;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
@font-face {
  font-family: "Rocher";
  src: url(/fonts/RocherColorGX.woff2);
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 36rem;
  text-align: center;
}
.form input {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .message {
  margin: 1.5rem 0 0;
  color: #b3b3b3;
  font-size: 1.2rem;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.form button {
  padding: 1rem;
}

.or {
  margin: 1rem;
  font-size: 1.5rem;
}

/* GOOGLE SIGN IN BUTTON */

.googleSignIn {
  display: flex;
  padding: 0;
}

.googleSignIn__text {
  text-align: center;
  padding: 1.2rem;
  font-size: 1.1rem;
  padding-left: 2rem;
}
